<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <!-- Core theme CSS -->
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
    <footer class="footer" th:fragment="footer">
            <p class="footer-text">2025 ® Copyright Имотен указател</p>
            <p class="footer-text">Продукт на Бутик за имоти ЕООД.</p>
    </footer>
</body>
</html>