<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title>Navbar</title>
    <!-- Core theme CSS -->
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar" th:fragment="navbar(activeLink)">
        <div class="logo-section">
            <a th:href="@{/}">
                <img class="logo" th:src="@{/images/logo.png}" alt="Real Estate Planner Logo">
            </a>
        </div>
        <div class="menu-section">
            <ul>
                <li class="nav-item" th:classappend="${activeLink == 'home'}? active">
                    <a th:href="@{/}">Начало</a>
                </li>
                <li class="nav-item" th:classappend="${activeLink == 'sales'}? active"
                    sec:authorize="isAuthenticated()">
                    <a th:href="@{/}">Продажби</a>
                </li>
                <li class="nav-item" th:classappend="${activeLink == 'loans'}? active"
                    sec:authorize="isAuthenticated()">
                    <a th:href="@{/}">Наеми</a>
                </li>
                <li class="nav-item" th:classappend="${activeLink == 'login'}? active" sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}">Влез</a>
                </li>
                <li class="nav-item" th:classappend="${activeLink == 'register'}? active" sec:authorize="!isAuthenticated()">
                    <a th:href="@{/register}">Регистрирай се</a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>