<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <!-- Core theme CSS -->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />

    <!-- Preload critical resources -->
    <link rel="preload" as="image" th:href="@{/images/logo.png}" />
<!--    <link rel="preload" as="script" th:href="@{/js/scriptDropdown.js}" />-->
</head>
<body>
    <nav class="navbar" th:fragment="navbar(activeLink)">
        <div class="logo-section">
            <a th:href="@{/}">
                <img class="logo" th:src="@{/images/logo.png}" alt="Real Estate Planner Logo">
            </a>
        </div>
        <div class="menu-section">
            <ul>
                <li class="nav-item" th:classappend="${activeLink == 'home'}? 'active' : ''">
                    <a th:text="#{navbar.home}" th:href="@{/}">Начало</a>
                </li>
                <li class="nav-item" th:classappend="${activeLink == 'sales'}? 'active' : ''"
                    sec:authorize="hasAnyRole('COMPANY_ADMIN', 'USER')">
                    <a th:text="#{navbar.sales}" th:href="@{/properties/sales}">Продажби</a>
                </li>
                <li class="nav-item" th:classappend="${activeLink == 'rents'}? 'active' : ''"
                    sec:authorize="hasAnyRole('COMPANY_ADMIN', 'USER')">
                    <a th:text="#{navbar.rents}" th:href="@{/properties/rents}">Наеми</a>
                </li>
                <li class="nav-item" th:classappend="${activeLink == 'login'}? 'active' : ''"
                    sec:authorize="!isAuthenticated()">
                    <a th:text="#{navbar.login}" th:href="@{/users/login}">Влез</a>
                </li>
                <li class="nav-item dropdown"  sec:authorize="isAuthenticated()">
                    <div class="profile-btn" id="profileBtn">
<!--                        <i class="fa-regular fa-user blue" ></i>-->
                        <div
                                th:text="${@userEntityServiceImpl.getCurrentUser().firstName + ' ' + @userEntityServiceImpl.getCurrentUser().lastName}">
                            Профил</div>
                    </div>
                    <div class="dropdown-menu hidden" id="dropdownMenu">
                        <a th:href="@{'/users/' + ${@userEntityServiceImpl.getCurrentUser().id}}" th:text="#{navbar.profile}"></a>
                        <a th:href="@{'/'}">
                            <form th:action="@{/users/logout}"
                                  th:method="post">
                                <button class="nav-item btn-transparent" type="submit" th:href="@{/users/logout}" th:text="#{navbar.logout}">Излез</button>
                            </form>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>