@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #263143;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

.h-100 {
    height: 100% !important;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem 1rem 5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px 0px;
    background-color: #FFFFFF;
}

.logo {
    max-width: 10rem;
}

.menu-section > ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-item {
    font-size: 0.9rem;
    font-weight: 600;
    color: #263143;
    font-family: "Montserrat", serif;
}

.footer {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1rem 5rem 1rem 5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 15px 0px 0px 7px;
    background-color: #FFFFFF;
}

.footer > p {
    color: #263143;
}
