@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #263143;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
}

main {
    flex: 1;
    padding: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 2rem;
}

.center {
    margin: auto;
}

/* Navbar */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem 1rem 5rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: #FFFFFF;
}

.logo {
    max-width: 10rem;
}

.menu-section > ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-item,
.footer-text {
    font-size: 0.9rem;
    font-weight: 600;
    color: #263143;
    font-family: "Roboto", sans-serif;
}

/* Main */

/* Offers page */
.offer-list-section,
.filter-sort-section {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    padding-bottom: 2rem;
}

.filter-sort-section .card {
    flex-direction: column;
    gap: 1rem;
}
.filter-sort-section .row {
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;
}

.filter-sort-section label {
    padding-right: 0.5rem;
}

.filter-sort-section button {
    padding: 0.3rem 1rem;
    text-align: center;
    background-color: #263143;
    color: #FFFFFF;
    border-radius: 5px;
}

.filter-sort-section button:hover {
    color: #263143;
    background-color: #FFFFFF;
    border: solid 2px #263143;
}

#filter-input {
    width: 20rem;
}

/* Card */
.card {
    display: flex;
    gap: 2rem;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    padding: 1rem;
}

.card > .image-section {
    width: calc(30% - 1rem);
}

.image-section > img {
    max-width: 100%;
}

.card > .content-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(70% - 1rem);
}

.content-section > .content-header {
    display: flex;
    justify-content: space-between;
}

.content-section > .content-description{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: 0.9rem;
}

.content-description > .column {
    width: calc(50% - 0.5rem);
}

.content-section > .content-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-section > .content-footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

.grayed-out {
    color: #B4B4B4;
}

/* Footer */
.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1rem 5rem 1rem 5rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: #FFFFFF;
}

.footer > p {
    color: #263143;
}
