

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.h-100 {
    height: 100% !important;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px 20px 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px 0px;
    background-color: #FFFFFF;
}

.navbar > .logo-section {

}

.navbar > .menu-section {

}

.nav-item {

}
