<!DOCTYPE html>
<html lang="bg"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title>Add Property</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />
    <!-- Core theme CSS -->
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
    <header th:replace="~{fragments/navbar.html}"></header>
    <main>
        <div class="w-70 center">
            <div class="card flex-column">
                <h1 class="text-center" th:text="#{property.heading}">Добави имот</h1>
                <form class="flex-column gap-1" id="add_property_form"
                        th:action="@{/properties/add}"
                        th:method="POST"
                        th:object="${addPropertyData}">

                    <!-- Property type input-->
                    <div class="flex-column gap-1 text-center">
                        <div class="flex-row w-100 gap-1" id="propertyTypeSelect">
                            <div class="w-30 align-right">
                                <label for="propertyType"
                                       th:text="#{property.property-type} + ':'">Тип имот</label>
                            </div>
                            <div class="w-70 align-left">
                                <select class="w-70" id="propertyType" th:field="*{propertyType}">
                                    <option
                                            value=""
                                            th:text="#{property.property-type-placeholder}">
                                    </option>
                                    <option
                                            th:each="type : ${T(com.butikimoti.real_estate_planner.model.enums.PropertyType).values()}"
                                            th:value="${type}"
                                            th:text="#{${'propertyType.' + type.name()}}">
                                    </option>
                                </select>
                            </div>
                            <small th:errors="*{propertyType}" class="text-red">Property type error!</small>
                        </div>

                        <!-- Main inputs (common for all property types)-->
                        <div class="flex-row w-100 gap-1" id="addressInput">
                            <div class="w-30 align-right">
                                <label for="address"
                                       th:text="#{property.address} + ':'">Property address
                                </label>
                            </div>
                            <div class="w-70 align-left">
                                <input class="w-70" name="address" id="address" type="text"
                                       th:placeholder="#{property.address-placeholder}"
                                       th:field="*{address}"/>
                            </div>
                            <small th:errors="*{address}" class="text-red">Property address error!</small>
                        </div>

                        <div class="flex-row w-100 gap-1" id="priceInput">
                            <div class="w-30 align-right">
                                <label for="price"
                                       th:text="#{property.price} + ':'">Property address
                                </label>
                            </div>
                            <div class="w-70 align-left">
                                <input class="w-70" name="price" id="price" type="number" step="1" min="0"
                                       th:placeholder="#{property.price-placeholder}"
                                       th:field="*{price}"/>
                            </div>
                            <small th:errors="*{price}" class="text-red">Property price error!</small>
                        </div>

                        <div class="flex-row w-100 gap-1" id="areaInput">
                            <div class="w-30 align-right">
                                <label for="area"
                                       th:text="#{property.area} + ':'">Property area
                                </label>
                            </div>
                            <div class="w-70 align-left">
                                <input class="w-50" name="area" id="area" type="number" step="1" min="0"
                                       th:placeholder="#{property.area-placeholder}"
                                       th:field="*{area}"/>
                                <select class="w-20" id="areaUnit" th:field="*{areaUnit}">
                                    <option
                                            th:each="areaUnit : ${T(com.butikimoti.real_estate_planner.model.enums.AreaUnit).values()}"
                                            th:value="${areaUnit}"
                                            th:text="#{${'areaUnit.' + areaUnit.name()}}">
                                    </option>
                                </select>
                            </div>
                            <small th:errors="*{area}" class="text-red">Property area error!</small>
                            <small th:errors="*{areaUnit}" class="text-red">Property area unit error!</small>
                        </div>

                        <div class="flex-row w-100 gap-1" id="offerTypeSelect">
                            <div class="w-30 align-right">
                                <label for="offerType"
                                       th:text="#{property.offer-type} + ':'">Offer type</label>
                            </div>
                            <div class="w-70 align-left">
                                <select class="w-70" id="offerType" th:field="*{offerType}">
                                    <option
                                            th:value="${T(com.butikimoti.real_estate_planner.model.enums.OfferType).SALE}"
                                            th:text="#{offerType.SALE}">
                                    </option>
                                    <option
                                            th:value="${T(com.butikimoti.real_estate_planner.model.enums.OfferType).RENT}"
                                            th:text="#{offerTYPE.RENT}">
                                    </option>
                                </select>
                            </div>
                            <small th:errors="*{offerType}" class="text-red">Offer type error!</small>
                        </div>

                        <div class="flex-row w-100 gap-1" id="contactNameInput">
                            <div class="w-30 align-right">
                                <label for="contactName"
                                       th:text="#{property.contact-name} + ':'">Property address
                                </label>
                            </div>
                            <div class="w-70 align-left">
                                <input class="w-70" name="contactName" id="contactName" type="text"
                                       th:placeholder="#{property.contact-name-placeholder}"
                                       th:field="*{contactName}"/>
                            </div>
                            <small th:errors="*{contactName}" class="text-red">Contact name error!</small>
                        </div>

                        <div class="flex-row w-100 gap-1" id="contactPhoneInput">
                            <div class="w-30 align-right">
                                <label for="contactPhone" th:text="#{property.contact-phone} + ':'">Property contact phone</label>
                            </div>
                            <div class="w-70 align-left">
                                <input class="w-70" name="contactPhone" id="contactPhone" type="text" placeholder="+359000000000"
                                       th:field="*{contactPhone}"/>
                            </div>
                            <small th:errors="*{contactPhone}" class="text-red">Company phone invalid!</small>
                        </div>

                        <div class="flex-row w-100 gap-1" id="contactEmailInput">
                            <div class="w-30 align-right">
                                <label for="contactEmail"
                                       th:text="#{property.contact-email} + ':'">Property address
                                </label>
                            </div>
                            <div class="w-70 align-left">
                                <input class="w-70" name="contactEmail" id="contactEmail" type="email"
                                       placeholder="name@email.com"
                                       th:field="*{contactEmail}"/>
                            </div>
                            <small th:errors="*{contactEmail}" class="text-red">Contact email error!</small>
                        </div>

                        <div class="flex-row w-100 gap-1" id="descriptionInput">
                            <div class="w-30 align-right">
                                <label for="description"
                                       th:text="#{property.description} + ':'">Property description
                                </label>
                            </div>
                            <div class="w-70 align-left">
                                <textarea class="w-70" name="description" id="description" rows="5"
                                       th:placeholder="#{property.description-placeholder}"
                                       th:field="*{description}">
                                </textarea>
                            </div>
                            <small th:errors="*{description}" class="text-red">Property description error!</small>
                        </div>

                        <!-- Additional info (for specific property types)-->
                        <h3 id="additionalInfo" th:text="#{property.additional-info-header}"></h3>

                        <div class="flex-row w-100 gap-1" id="apartmentTypeSelect">
                            <div class="w-30 align-right">
                                <label for="apartmentType"
                                       th:text="#{property.apartment-type} + ':'">Apartment type</label>
                            </div>
                            <div class="w-70 align-left">
                                <select class="w-70" id="apartmentType" th:field="*{apartmentType}">
                                    <option
                                            value=""
                                            th:text="#{property.apartment-type-placeholder}">
                                    </option>
                                    <option
                                            th:each="type : ${T(com.butikimoti.real_estate_planner.model.enums.ApartmentType).values()}"
                                            th:value="${type}"
                                            th:text="#{${'apartmentType.' + type.name()}}">
                                    </option>
                                </select>
                            </div>
                            <small th:errors="*{apartmentType}" class="text-red">Apartment type error!</small>
                        </div>

                        <div class="flex-row w-100 gap-1" id="constructionTypeSelect">
                            <div class="w-30 align-right">
                                <label for="constructionType"
                                       th:text="#{property.construction-type} + ':'">Construction type</label>
                            </div>
                            <div class="w-70 align-left">
                                <select class="w-70" id="constructionType" th:field="*{constructionType}">
                                    <option
                                            th:each="type : ${T(com.butikimoti.real_estate_planner.model.enums.ConstructionType).values()}"
                                            th:value="${type}"
                                            th:text="#{${'constructionType.' + type.name()}}">
                                    </option>
                                </select>
                            </div>
                            <small th:errors="*{constructionType}" class="text-red">Construction type error!</small>
                        </div>

                        <div class="flex-row w-100 gap-1" id="yearInput">
                            <div class="w-30 align-right">
                                <label for="year"
                                       th:text="#{property.year} + ':'">Property year
                                </label>
                            </div>
                            <div class="w-70 align-left">
                                <input class="w-70" name="year" id="year" type="number" step="1" min="0"
                                       th:placeholder="#{property.year-placeholder}"
                                       th:field="*{year}"/>
                            </div>
                            <small th:errors="*{year}" class="text-red">Property year error!</small>
                        </div>

                        <div class="flex-row w-100 gap-1" id="roomCountInput">
                            <div class="w-30 align-right">
                                <label for="roomCount"
                                       th:text="#{property.room-count} + ':'">Property year
                                </label>
                            </div>
                            <div class="w-70 align-left">
                                <input class="w-70" name="roomCount" id="roomCount" type="number" step="1" min="0"
                                       th:placeholder="#{property.room-count-placeholder}"
                                       th:field="*{roomCount}"/>
                            </div>
                            <small th:errors="*{roomCount}" class="text-red">Property year error!</small>
                        </div>

                        <div class="flex-row w-100 gap-1" id="floorInput">
                            <div class="w-30 align-right">
                                <label for="floor"
                                       th:text="#{property.floor} + ':'">Property floor
                                </label>
                            </div>
                            <div class="w-70 align-left">
                                <input class="w-10" name="floor" id="floor" type="number" step="1" min="0"
                                       th:field="*{floor}"/>
                                <span th:text="#{property.floor-from}">from</span>
                                <input class="w-10" name="buildingFloors" id="buildingFloors" type="number" step="1" min="0"
                                       th:field="*{buildingFloors}"/>
                            </div>
                            <small th:errors="*{floor}" class="text-red">Property floor error!</small>
                            <small th:errors="*{buildingFloors}" class="text-red">Property building floors error!</small>
                        </div>

                        <div class="flex-row w-100 gap-1" id="facingInput">
                            <div class="w-30 align-right">
                                <label for="facing"
                                       th:text="#{property.facing} + ':'">Property facing
                                </label>
                            </div>
                            <div class="w-70 align-left">
                                <input class="w-70" name="facing" id="facing" type="text"
                                       th:placeholder="#{property.facing-placeholder}"
                                       th:field="*{facing}"/>
                            </div>
                            <small th:errors="*{facing}" class="text-red">Property year error!</small>
                        </div>

                        <div class="flex-row w-100 gap-1" id="hasElevatorSelect">
                            <div class="w-30 align-right">
                                <label for="hasElevator"
                                       th:text="#{property.has-elevator} + ':'">Elevator
                                </label>
                            </div>
                            <div class="w-70 align-left">
                                <select class="w-10" id="hasElevator" name="hasElevator" th:field="*{hasElevator}">
                                    <option value="false" th:text="#{property.has-elevator-false}"></option>
                                    <option value="true" th:text="#{property.has-elevator-true}"></option>
                                </select>
                            </div>
                            <small th:errors="*{hasElevator}" class="text-red">Property floor error!</small>
                        </div>

                        <div class="flex-row w-100 gap-1" id="houseTypeSelect">

                        </div>

                        <div class="flex-row w-100 gap-1" id="yardAreaInput">

                        </div>

                        <div class="flex-row w-100 gap-1" id="floorsCountInput">

                        </div>

                        <div class="flex-row w-100 gap-1" id="additionalStructuresInput">

                        </div>

                        <div class="flex-row w-100 gap-1" id="garageTypeSelect">

                        </div>

                        <div class="flex-row w-100 gap-1" id="landTypeSelect">

                        </div>

                        <div class="flex-row w-100 gap-1" id="businessPropertySelect">

                        </div>
                    </div>

                    <!-- Company name input
                    <div class="flex-column text-center">
                        <div class="flex-row w-100 gap-1">
                            <div class="w-50 align-right">
                                <label for="name" th:text="#{register-company.name} + ':'">Company name</label>
                            </div>
                            <div class="w-50 align-left">
                                <input class="w-70" name="name" id="name" type="text"
                                       placeholder="Наименование на фирма" th:field="*{name}"/>
                            </div>
                        </div>
                        <small th:errors="*{name}" class="text-red">Company name invalid!</small>
                        <small th:if="${companyExists}" class="text-red" th:text="#{register-company.company-name-error}">Company with this name
                            already exists!</small>
                    </div>

                    &lt;!&ndash; Company address input&ndash;&gt;
                    <div class="flex-column text-center">
                        <div class="flex-row w-100 gap-1">
                            <div class="w-50 align-right">
                                <label for="address" th:text="#{register-company.address} + ':'">Company name</label>
                            </div>
                            <div class="w-50 align-left">
                                <input class="w-70" name="address" id="address" type="text"
                                       placeholder="Адрес на фирма" th:field="*{address}"/>
                            </div>
                        </div>
                        <small th:errors="*{address}" class="text-red">Company address invalid!</small>
                    </div>

                    &lt;!&ndash; Company phone input&ndash;&gt;
                    <div class="flex-column text-center">
                        <div class="flex-row w-100 gap-1">
                            <div class="w-50 align-right">
                                <label for="phone" th:text="#{register-company.phone} + ':'">Company name</label>
                            </div>
                            <div class="w-50 align-left">
                                <input class="w-70" name="phone" id="phone" type="text" placeholder="+359000000000"
                                       th:field="*{phone}"/>
                            </div>
                        </div>
                        <small th:errors="*{phone}" class="text-red">Company phone invalid!</small>
                    </div>

                    &lt;!&ndash; Company email input&ndash;&gt;
                    <div class="flex-column text-center">
                        <div class="flex-row w-100 gap-1">
                            <div class="w-50 align-right">
                                <label for="email" th:text="#{register-company.email} + ':'">Имейл</label>
                            </div>
                            <div class="w-50 align-left">
                                <input class="w-70" name="email" id="email" type="email" placeholder="name@example.com"
                                        th:field="*{email}"/>
                            </div>
                        </div>
                        <small th:errors="*{email}" class="text-red">Company email invalid!</small>
                    </div>-->

                    <!-- Register Button-->
                    <div class="center">
                        <button class="btn btn-blue" id="submitButton" type="submit"
                                th:text="#{register-company.button}">Регистрирай</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments/footer.html::footer}"></footer>
</body>
</html>