<!DOCTYPE html>
<html lang="bg"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title>Add Property</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />
    <!-- Core theme CSS -->
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
    <header th:replace="~{fragments/navbar.html}"></header>
    <main>
        <div class="w-70 center">
            <div class="card flex-column">
                <h1 class="text-center" th:text="#{property.heading}">Добави имот</h1>
                <form class="flex-column gap-1" id="add_property_form"
                        th:action="@{/properties/add}"
                        th:method="POST"
                        th:object="${addPropertyData}">

                    <div class="flex-column gap-1 text-center">
                        <!-- Property type input-->
                        <div class="flex-column w-100 type-visible" id="propertyTypeSelect">
                            <div class="flex-row w-100 gap-1">
                                <div class="w-30 align-right">
                                    <label for="propertyType"
                                           th:text="#{property.property-type} + ':'">Тип имот</label>
                                </div>
                                <div class="w-70 align-left">
                                    <select class="w-70" id="propertyType" th:field="*{propertyType}">
                                        <option
                                                value=""
                                                th:text="#{property.property-type-placeholder}">
                                        </option>
                                        <option
                                                th:each="type : ${T(com.butikimoti.real_estate_planner.model.enums.PropertyType).values()}"
                                                th:value="${type}"
                                                th:text="#{${'propertyType.' + type.name()}}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <small th:errors="*{propertyType}" class="text-red">Property type error!</small>
                        </div>

                        <!-- Main inputs (common for all property types) -->
                        <!-- City input -->
                        <div class="flex-column w-100 property-type-main hidden" id="cityInput">
                            <div class="flex-row w-100 gap-1" >
                                <div class="w-30 align-right">
                                    <label for="city"
                                           th:text="#{property.city} + ':'">Property city
                                    </label>
                                </div>
                                <div class="w-70 align-left">
                                    <input class="w-70" name="city" id="city" type="text"
                                           th:placeholder="#{property.city-placeholder}"
                                           th:field="*{city}"/>
                                </div>
                            </div>
                            <small th:errors="*{city}" class="text-red">Property city error!</small>
                        </div>

                        <!-- Neighbourhood input -->
                        <div class="flex-column w-100 property-type-main hidden" id="neighbourhoodInput">
                            <div class="flex-row w-100 gap-1" >
                                <div class="w-30 align-right">
                                    <label for="neighbourhood"
                                           th:text="#{property.neighbourhood} + ':'">Property neighbourhood
                                    </label>
                                </div>
                                <div class="w-70 align-left">
                                    <input class="w-70" name="neighbourhood" id="neighbourhood" type="text"
                                           th:placeholder="#{property.neighbourhood-placeholder}"
                                           th:field="*{neighbourhood}"/>
                                </div>
                            </div>
                        </div>

                        <!-- Address input -->
                        <div class="flex-column w-100 property-type-main hidden" id="addressInput">
                            <div class="flex-row w-100 gap-1" >
                                <div class="w-30 align-right">
                                    <label for="address"
                                           th:text="#{property.address} + ':'">Property address
                                    </label>
                                </div>
                                <div class="w-70 align-left">
                                    <input class="w-70" name="address" id="address" type="text"
                                           th:placeholder="#{property.address-placeholder}"
                                           th:field="*{address}"/>
                                </div>
                            </div>
                            <small th:errors="*{address}" class="text-red">Property address error!</small>
                        </div>

                        <!-- Price input -->
                        <div class="flex-column w-100 property-type-main hidden" id="priceInput">
                            <div class="flex-row w-100 gap-1">
                                <div class="w-30 align-right">
                                    <label for="price"
                                           th:text="#{property.price-euro} + ':'">Property address
                                    </label>
                                </div>
                                <div class="w-70 align-left">
                                    <input class="w-70" name="price" id="price" type="number" step="1" min="0"
                                           th:placeholder="#{property.price-placeholder}"
                                           th:field="*{price}"/>
                                </div>
                            </div>
                            <small th:errors="*{price}" class="text-red">Property price error!</small>
                        </div>

                        <!-- Area input -->
                        <div class="flex-column w-100 property-type-main hidden" id="areaInput">
                            <div class="flex-row w-100 gap-1">
                                <div class="w-30 align-right">
                                    <label for="area"
                                           th:text="#{property.area} + ':'">Property area
                                    </label>
                                </div>
                                <div class="w-70 align-left">
                                    <input class="w-50" name="area" id="area" type="number" step="1" min="0"
                                           th:placeholder="#{property.area-placeholder}"
                                           th:field="*{area}"/>
                                    <select class="w-20" id="areaUnit" th:field="*{areaUnit}">
                                        <option
                                                th:each="areaUnit : ${T(com.butikimoti.real_estate_planner.model.enums.AreaUnit).values()}"
                                                th:value="${areaUnit}"
                                                th:text="#{${'areaUnit.' + areaUnit.name()}}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <small th:errors="*{area}" class="text-red">Property area error!</small>
                            <small th:errors="*{areaUnit}" class="text-red">Property area unit error!</small>
                        </div>

                        <!-- Offer type input -->
                        <div class="flex-column w-100 property-type-main hidden" id="offerTypeSelect">
                            <div class="flex-row w-100 gap-1">
                                <div class="w-30 align-right">
                                    <label for="offerType"
                                           th:text="#{property.offer-type} + ':'">Offer type</label>
                                </div>
                                <div class="w-70 align-left">
                                    <select class="w-70" id="offerType" th:field="*{offerType}">
                                        <option
                                                th:value="${T(com.butikimoti.real_estate_planner.model.enums.OfferType).SALE}"
                                                th:text="#{offerType.SALE}">
                                        </option>
                                        <option
                                                th:value="${T(com.butikimoti.real_estate_planner.model.enums.OfferType).RENT}"
                                                th:text="#{offerTYPE.RENT}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <small th:errors="*{offerType}" class="text-red">Offer type error!</small>
                        </div>

                        <!-- Contact name input -->
                        <div class="flex-column w-100 property-type-main hidden" id="contactNameInput">
                            <div class="flex-row w-100 gap-1">
                                <div class="w-30 align-right">
                                    <label for="contactName"
                                           th:text="#{property.contact-name} + ':'">Property address
                                    </label>
                                </div>
                                <div class="w-70 align-left">
                                    <input class="w-70" name="contactName" id="contactName" type="text"
                                           th:placeholder="#{property.contact-name-placeholder}"
                                           th:field="*{contactName}"/>
                                </div>
                            </div>
                            <small th:errors="*{contactName}" class="text-red">Contact name error!</small>
                        </div>

                        <!-- Contact phone input -->
                        <div class="flex-column w-100 property-type-main hidden" id="contactPhoneInput">
                            <div class="flex-row w-100 gap-1">
                                <div class="w-30 align-right">
                                    <label for="contactPhone" th:text="#{property.contact-phone} + ':'">Property contact phone</label>
                                </div>
                                <div class="w-70 align-left">
                                    <input class="w-70" name="contactPhone" id="contactPhone" type="text" placeholder="+359000000000"
                                           th:field="*{contactPhone}"/>
                                </div>
                            </div>
                            <small th:errors="*{contactPhone}" class="text-red">Company phone invalid!</small>
                        </div>

                        <!-- Contact email input -->
                        <div class="flex-column w-100 property-type-main hidden" id="contactEmailInput">
                            <div class="flex-row w-100 gap-1">
                                <div class="w-30 align-right">
                                    <label for="contactEmail"
                                           th:text="#{property.contact-email} + ':'">Property address
                                    </label>
                                </div>
                                <div class="w-70 align-left">
                                    <input class="w-70" name="contactEmail" id="contactEmail" type="email"
                                           placeholder="name@email.com"
                                           th:field="*{contactEmail}"/>
                                </div>
                            </div>
                            <small th:errors="*{contactEmail}" class="text-red">Contact email error!</small>
                        </div>

                        <!-- Description input -->
                        <div class="flex-column w-100 property-type-main hidden" id="descriptionInput">
                            <div class="flex-row w-100 gap-1">
                                <div class="w-30 align-right">
                                    <label for="description"
                                           th:text="#{property.description} + ':'">Property description
                                    </label>
                                </div>
                                <div class="w-70 align-left">
                                <textarea class="w-70" name="description" id="description" rows="5"
                                          th:placeholder="#{property.description-placeholder}"
                                          th:field="*{description}">
                                </textarea>
                                </div>
                            </div>
                            <small th:errors="*{description}" class="text-red">Property description error!</small>
                        </div>


                        <!-- Additional info (for specific property types)-->
                        <!-- Additional info header -->
                        <h3 class="property-type-main hidden" id="additionalInfo" th:text="#{property.additional-info-header}"></h3>

                        <!-- Apartment type select -->
                        <div class="flex-column w-100 property-type-apartment hidden" id="apartmentTypeSelect">
                            <div class="flex-row w-100 gap-1">
                                <div class="w-30 align-right">
                                    <label for="apartmentType"
                                           th:text="#{property.apartment-type} + ':'">Apartment type</label>
                                </div>
                                <div class="w-70 align-left">
                                    <select class="w-70" id="apartmentType" th:field="*{apartmentType}">
                                        <option
                                                value=""
                                                th:text="#{property.apartment-type-placeholder}">
                                        </option>
                                        <option
                                                th:each="type : ${T(com.butikimoti.real_estate_planner.model.enums.ApartmentType).values()}"
                                                th:value="${type}"
                                                th:text="#{${'apartmentType.' + type.name()}}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <small th:errors="*{apartmentType}" class="text-red">Apartment type error!</small>
                        </div>

                        <!-- House type select -->
                        <div class="flex-column w-100 property-type-house hidden" id="houseTypeSelect">
                            <div class="flex-row w-100 gap-1">
                                <div class="w-30 align-right">
                                    <label for="houseType"
                                           th:text="#{property.house-type} + ':'">House type</label>
                                </div>
                                <div class="w-70 align-left">
                                    <select class="w-70" id="houseType" th:field="*{houseType}">
                                        <option
                                                value=""
                                                th:text="#{property.house-type-placeholder}">
                                        </option>
                                        <option
                                                th:each="type : ${T(com.butikimoti.real_estate_planner.model.enums.HouseType).values()}"
                                                th:value="${type}"
                                                th:text="#{${'houseType.' + type.name()}}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <small th:errors="*{houseType}" class="text-red">House type error!</small>
                        </div>

                        <!-- Garage type select -->
                        <div class="flex-column w-100 property-type-garage hidden" id="garageTypeSelect">
                            <div class="flex-row w-100 gap-1">
                                <div class="w-30 align-right">
                                    <label for="garageType"
                                           th:text="#{property.garage-type} + ':'">Garage type</label>
                                </div>
                                <div class="w-70 align-left">
                                    <select class="w-70" id="garageType" th:field="*{garageType}">
                                        <option
                                                value=""
                                                th:text="#{property.garage-type-placeholder}">
                                        </option>
                                        <option
                                                th:each="type : ${T(com.butikimoti.real_estate_planner.model.enums.GarageType).values()}"
                                                th:value="${type}"
                                                th:text="#{${'garageType.' + type.name()}}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <small th:errors="*{garageType}" class="text-red">Garage type error!</small>
                        </div>

                        <!-- Land type select -->
                        <div class="flex-column w-100 property-type-land hidden" id="landTypeSelect">
                            <div class="flex-row w-100 gap-1">
                                <div class="w-30 align-right">
                                    <label for="landType"
                                           th:text="#{property.land-type} + ':'">Land type</label>
                                </div>
                                <div class="w-70 align-left">
                                    <select class="w-70" id="landType" th:field="*{landType}">
                                        <option
                                                value=""
                                                th:text="#{property.land-type-placeholder}">
                                        </option>
                                        <option
                                                th:each="type : ${T(com.butikimoti.real_estate_planner.model.enums.LandType).values()}"
                                                th:value="${type}"
                                                th:text="#{${'landType.' + type.name()}}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <small th:errors="*{landType}" class="text-red">Land type error!</small>
                        </div>

                        <!-- Business property type select -->
                        <div class="flex-column w-100 property-type-business hidden" id="businessPropertySelect">
                            <div class="flex-row w-100 gap-1">
                                <div class="w-30 align-right">
                                    <label for="businessPropertyType"
                                           th:text="#{property.business-property-type} + ':'">Business property type</label>
                                </div>
                                <div class="w-70 align-left">
                                    <select class="w-70" id="businessPropertyType" th:field="*{businessPropertyType}">
                                        <option
                                                value=""
                                                th:text="#{property.business-property-type-placeholder}">
                                        </option>
                                        <option
                                                th:each="type : ${T(com.butikimoti.real_estate_planner.model.enums.BusinessPropertyType).values()}"
                                                th:value="${type}"
                                                th:text="#{${'businessPropertyType.' + type.name()}}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <small th:errors="*{businessPropertyType}" class="text-red">Business property type error!</small>
                        </div>

                        <!-- Construction type select -->
                        <div class="flex-column w-100 property-type-apartment property-type-house property-type-business hidden" id="constructionTypeSelect">
                            <div class="flex-row w-100 gap-1">
                                <div class="w-30 align-right">
                                    <label for="constructionType"
                                           th:text="#{property.construction-type} + ':'">Construction type</label>
                                </div>
                                <div class="w-70 align-left">
                                    <select class="w-70" id="constructionType" th:field="*{constructionType}">
                                        <option
                                                th:each="type : ${T(com.butikimoti.real_estate_planner.model.enums.ConstructionType).values()}"
                                                th:value="${type}"
                                                th:text="#{${'constructionType.' + type.name()}}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <small th:errors="*{constructionType}" class="text-red">Construction type error!</small>
                        </div>

                        <!-- Year input -->
                        <div class="flex-column w-100 property-type-apartment property-type-house property-type-business hidden" id="yearInput">
                            <div class="flex-row w-100 gap-1">
                                <div class="w-30 align-right">
                                    <label for="year"
                                           th:text="#{property.year} + ':'">Property year
                                    </label>
                                </div>
                                <div class="w-70 align-left">
                                    <input class="w-20" name="year" id="year" type="number" step="1" min="0"
                                           th:placeholder="#{property.year-placeholder}"
                                           th:field="*{year}"/>
                                </div>
                            </div>
                            <small th:errors="*{year}" class="text-red">Property year error!</small>
                        </div>

                        <!-- Room count input -->
                        <div class="flex-column w-100 property-type-apartment property-type-house property-type-business hidden" id="roomCountInput">
                            <div class="flex-row w-100 gap-1">
                                <div class="w-30 align-right">
                                    <label for="roomCount"
                                           th:text="#{property.room-count} + ':'">Property year
                                    </label>
                                </div>
                                <div class="w-70 align-left">
                                    <input class="w-10" name="roomCount" id="roomCount" type="number" step="1" min="0"
                                           th:field="*{roomCount}"/>
                                </div>
                            </div>
                            <small th:errors="*{roomCount}" class="text-red">Property year error!</small>
                        </div>

                        <!-- Floor input -->
                        <div class="flex-column w-100 property-type-apartment property-type-business hidden" id="floorInput">
                            <div class="flex-row w-100 gap-1">
                                <div class="w-30 align-right">
                                    <label for="floor"
                                           th:text="#{property.floor} + ':'">Property floor
                                    </label>
                                </div>
                                <div class="w-70 align-left">
                                    <input class="w-10" name="floor" id="floor" type="number" step="1" min="0"
                                           th:field="*{floor}"/>
                                    <span th:text="#{property.floor-from}">from</span>
                                    <input class="w-10" name="buildingFloors" id="buildingFloors" type="number" step="1" min="0"
                                           th:field="*{buildingFloors}"/>
                                </div>
                            </div>
                            <small th:errors="*{floor}" class="text-red">Property floor error!</small>
                            <small th:errors="*{buildingFloors}" class="text-red">Property building floors error!</small>
                        </div>

                        <!-- Heating type select -->
                        <div class="flex-column w-100 property-type-apartment property-type-house property-type-business hidden" id="heatingTypeSelect">
                            <div class="flex-row w-100 gap-1">
                                <div class="w-30 align-right">
                                    <label for="heatingType"
                                           th:text="#{property.heating-type} + ':'">Heating type</label>
                                </div>
                                <div class="w-70 align-left">
                                    <select class="w-70" id="heatingType" th:field="*{heatingType}">
                                        <option
                                                th:each="type : ${T(com.butikimoti.real_estate_planner.model.enums.HeatingType).values()}"
                                                th:value="${type}"
                                                th:text="#{${'heatingType.' + type.name()}}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <small th:errors="*{heatingType}" class="text-red">Heating type error!</small>
                        </div>

                        <!-- Facing input -->
                        <div class="flex-column w-100 property-type-apartment hidden" id="facingInput">
                            <div class="flex-row w-100 gap-1">
                                <div class="w-30 align-right">
                                    <label for="facing"
                                           th:text="#{property.facing} + ':'">Property facing
                                    </label>
                                </div>
                                <div class="w-70 align-left">
                                    <input class="w-70" name="facing" id="facing" type="text"
                                           th:placeholder="#{property.facing-placeholder}"
                                           th:field="*{facing}"/>
                                </div>
                            </div>
                            <small th:errors="*{facing}" class="text-red">Property year error!</small>
                        </div>

                        <!-- Has elevator input -->
                        <div class="flex-column w-100 property-type-apartment property-type-business hidden" id="hasElevatorSelect">
                            <div class="flex-row w-100 gap-1">
                                <div class="w-30 align-right">
                                    <label for="hasElevator"
                                           th:text="#{property.has-elevator} + ':'">Elevator
                                    </label>
                                </div>
                                <div class="w-70 align-left">
                                    <select class="w-10" id="hasElevator" name="hasElevator" th:field="*{hasElevator}">
                                        <option value="false" th:text="#{property.has-elevator-false}"></option>
                                        <option value="true" th:text="#{property.has-elevator-true}"></option>
                                    </select>
                                </div>
                            </div>
                            <small th:errors="*{hasElevator}" class="text-red">Property has elevator error!</small>
                        </div>

                        <!-- Yard area input -->
                        <div class="flex-column w-100 property-type-house hidden" id="yardAreaInput">
                            <div class="flex-row w-100 gap-1">
                                <div class="w-30 align-right">
                                    <label for="yardArea"
                                           th:text="#{property.yard-area} + ':'">Yard area
                                    </label>
                                </div>
                                <div class="w-70 align-left">
                                    <input class="w-50" name="yardArea" id="yardArea" type="number" step="1" min="0"
                                           th:placeholder="#{property.yard-area-placeholder}"
                                           th:field="*{yardArea}"/>
                                    <select class="w-20" id="yardAreaUnit" th:field="*{yardAreaUnit}">
                                        <option
                                                th:each="areaUnit : ${T(com.butikimoti.real_estate_planner.model.enums.AreaUnit).values()}"
                                                th:value="${areaUnit}"
                                                th:text="#{${'areaUnit.' + areaUnit.name()}}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <small th:errors="*{yardArea}" class="text-red">Property yard area error!</small>
                            <small th:errors="*{yardAreaUnit}" class="text-red">Property yard area unit error!</small>
                        </div>

                        <!-- Floors count input -->
                        <div class="flex-column w-100 property-type-house hidden" id="floorsCountInput">
                            <div class="flex-row w-100 gap-1">
                                <div class="w-30 align-right">
                                    <label for="floorsCount"
                                           th:text="#{property.floors-count} + ':'">Property floor count
                                    </label>
                                </div>
                                <div class="w-70 align-left">
                                    <input class="w-10" name="floorsCount" id="floorsCount" type="number" step="1" min="0"
                                           th:field="*{floorsCount}"/>
                                </div>
                            </div>
                            <small th:errors="*{floorsCount}" class="text-red">Property floor count error!</small>
                        </div>

                        <!-- Additional structures input -->
                        <div class="flex-column w-100 property-type-house hidden" id="additionalStructuresInput">
                            <div class="flex-row w-100 gap-1">
                                <div class="w-30 align-right">
                                    <label for="additionalStructures"
                                           th:text="#{property.additional-structures} + ':'">Property additional structures
                                    </label>
                                </div>
                                <div class="w-70 align-left">
                                <textarea class="w-70" name="additionalStructures" id="additionalStructures" rows="5"
                                          th:placeholder="#{property.additional-structures-placeholder}"
                                          th:field="*{additionalStructures}">
                                </textarea>
                                </div>
                            </div>
                            <small th:errors="*{additionalStructures}" class="text-red">Property additional structures error!</small>
                        </div>

                    </div>

                    <!-- Register Button-->
                    <div class="center">
                        <button class="btn btn-blue" id="submitButton" type="submit"
                                th:text="#{register-company.button}">Регистрирай</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments/footer.html::footer}"></footer>
    <script th:src="@{/js/scriptAddOrEditProperty.js}"></script>
</body>
</html>