<!DOCTYPE html>
<html lang="bg"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User Password</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}" />
    <!-- Core theme CSS -->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
    <header th:replace="~{fragments/navbar.html::navbar(activeLink=${'register'})}"></header>
    <main>
        <div class="page-container">
            <div class="card flex-column">
                <h1 class="text-center" th:text="#{users.edit-user-password-heading}">Промени парола</h1>
                <h3 class="text-center" th:text="${userEmail}"></h3>
                <form class="flex-column gap-1" id="edit_user_form"
                        th:action="@{'/users/' + ${userId} + '/changePass'}"
                        th:method="PATCH"
                        th:object="${userPass}">

                    <!-- User current password input-->
                    <div class="flex-column text-center" sec:authorize="!hasRole('ADMIN')">
                        <div class="login-row">
                            <div class="login-left-column">
                                <label for="currentPassword" th:text="#{users.current-password} + ':'">Password</label>
                            </div>
                            <div class="login-right-column">
                                <input class="login-input" name="currentPassword" id="currentPassword" type="password" autocomplete="off"
                                       th:placeholder="#{users.current-password-placeholder}" th:field="*{currentPassword}"/>
                            </div>
                        </div>
                        <small th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}" class="text-red">Password invalid!</small>
                        <small th:if="${userPasswordIncorrect}" class="text-red" th:text="#{users.password-incorrect}"></small>
                    </div>

                    <!-- User new password input-->
                    <div class="flex-column text-center">
                        <div class="login-row">
                            <div class="login-left-column">
                                <label for="password" th:text="#{users.new-password} + ':'">Password</label>
                            </div>
                            <div class="login-right-column">
                                <input class="login-input" name="password" id="password" type="password" autocomplete="off"
                                       th:placeholder="#{users.new-password-placeholder}" th:field="*{newPassword}"/>
                            </div>
                        </div>
                        <small th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="text-red">Password invalid!</small>
                    </div>

                    <!-- Confirm password input-->
                    <div class="flex-column text-center">
                        <div class="login-row">
                            <div class="login-left-column">
                                <label for="confirm-password" th:text="#{users.new-password-confirm} + ':'">Confirm Password</label>
                            </div>
                            <div class="login-right-column">
                                <input class="login-input" name="confirm-password" id="confirm-password" type="password" autocomplete="off"
                                       th:placeholder="#{users.new-password-confirm-placeholder}"
                                       th:field="*{confirmNewPassword}"/>
                            </div>
                        </div>
                        <small th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="*{confirmNewPassword}" class="text-red">Password invalid!</small>
                        <small th:if="${passwordsDoNotMatch}" class="text-red" th:text="#{users.passwords-do-not-match}">Passwords do not match!</small>
                    </div>

                    <!-- Register Button-->
                    <div class="center">
                        <button class="btn btn-blue" id="submitButton" type="submit"
                                th:text="#{edit-user.button}">Потвърди промените</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments/footer.html::footer}"></footer>
    <!--    Initialize FontAwesome script for navbar  -->
    <script src="https://kit.fontawesome.com/89ea1f6c83.js" crossorigin="anonymous"></script>
    <!--    Initialize Dropdown script for navbar   -->
    <script th:src="@{/js/scriptDropdown.js}"></script>
</body>
</html>