<!DOCTYPE html>
<html lang="bg"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unauthorized</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}" />
    <!-- CSS with versioning to avoid cache issues -->
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

    <!-- Preload critical resources -->
    <link rel="preload" as="image" th:href="@{/images/logo.png}" />
<!--    <link rel="preload" as="script" th:href="@{/js/scriptDropdown.js}" />-->
</head>
<body>
    <header th:replace="~{fragments/navbar.html}"></header>
    <main>
        <div class="flex-column gap-1">
            <div class="text-center white" th:text="#{error.unauthorized}">
                You are not authorized to see this page!
            </div>
            <div class="text-center white">
                <span th:text="#{error.back-to-index-p1} + ' '"></span>
                <a class="link-white" th:href="@{/}" th:text="#{error.back-to-index-p2}"></a>
                <span>.</span>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments/footer.html::footer}"></footer>
    <!--    Initialize FontAwesome script for navbar  -->
<!--    <script src="https://kit.fontawesome.com/89ea1f6c83.js" crossorigin="anonymous"></script>-->
    <!--    Initialize Dropdown script for navbar   -->
<!--    <script th:src="@{/js/scriptDropdown.js}"></script>-->
</body>
</html>