<!DOCTYPE html>
<html lang="bg"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}" />
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <header th:replace="~{fragments/navbar.html}"></header>
    <main>
        <div class="flex-column gap-1">
            <div class="text-center white" th:text="#{error.general}">
                An unexpected error occurred. Please try again later.
            </div>
            <div class="text-center white">
                <span th:text="#{error.back-to-index-p1} + ' '"></span>
                <a class="link-white" th:href="@{/}" th:text="#{error.back-to-index-p2}"></a>
                <span>.</span>
            </div>
        </div>

    </main>
    <footer th:replace="~{fragments/footer.html::footer}"></footer>
</body>
</html>