<!DOCTYPE html>
<html lang="bg"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />
    <!-- Core theme CSS -->
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
    <header th:replace="~{fragments/navbar.html::navbar(activeLink=${'home'})}"></header>
    <main>
        <div id="unauthorized-view" sec:authorize="!isAuthenticated()">
            <div class="white text-center">Моля <a th:href="@{/users/login}" class="link-white">влезте с потребител и парола</a> или <a th:href="@{/users/register}" class="link-white">се регистрирайте</a></div>
        </div>

        <div id="authorized-view" class="flex-column gap-1" sec:authorize="isAuthenticated()">
            <div class="btn-group">
                <a class="btn btn-white" th:href="@{/properties/sales}">Продажби</a>
                <a class="btn btn-white" th:href="@{/properties/rents}">Наеми</a>
            </div>
            <div class="btn-group">
                <a class="btn btn-white" th:href="@{/properties/add}">Създай нова обява</a>
            </div>

        </div>

    </main>
    <footer th:replace="~{fragments/footer.html::footer}"></footer>
</body>
</html>