<!DOCTYPE html>
<html lang="bg"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}" />

    <!-- CSS with versioning to avoid cache issues -->
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

    <!-- Preload critical resources -->
    <link rel="preload" as="image" th:href="@{/images/logo.png}" />
    <link rel="preload" as="script" th:href="@{/js/scriptDropdown.js}" />

</head>
<body>
    <header th:replace="~{fragments/navbar.html::navbar(activeLink=${'home'})}"></header>
    <main>
        <div id="unauthorized-view" sec:authorize="!isAuthenticated()">
            <div class="white text-center">
                Моля
                <a class="link-white" th:href="@{/users/login}">влезте с потребител и парола</a>
                или изпратете запитване на
                <a class="link-white" th:href="|mailto:${@environment.getProperty('SUPPORT_EMAIL')}|"
                   th:text="#{index.contact-email}">real.estate
                .planner@gmail.com</a>
                за регистрация на нов потребител.</div>
        </div>

        <div id="admin-view" class="flex-column gap-1" sec:authorize="hasRole('ADMIN')">
            <h2 class="text-center white" th:text="#{index.admin-panel}">Администраторски панел</h2>
            <div class="btn-group">
                <a class="btn btn-white" th:href="@{/companies/register}"
                   th:text="#{index.company-register}">Регистрирай
                    компания</a>
                <a class="btn btn-white" th:href="@{/users/register}" th:text="#{index.user-register}">Регистрирай
                    потребител</a>
                <a class="btn btn-white" th:href="@{/companies}" th:text="#{index.company-edit}">Промени
                    компания</a>
                <a class="btn btn-white" th:href="@{/users}" th:text="#{index.user-edit}">Промени
                    потребител</a>
            </div>
        </div>

        <div id="authorized-view" class="flex-column gap-1" sec:authorize="hasAnyRole('COMPANY_ADMIN', 'USER')">
            <h2 class="text-center white" th:text="#{index.user-panel}">Потребителски панел</h2>
            <div class="btn-group">
                <a class="btn btn-white" th:href="@{/properties/sales}" th:text="#{index.sales}">Продажби</a>
                <a class="btn btn-white" th:href="@{/properties/rents}" th:text="#{index.rents}">Наеми</a>
            </div>
            <div class="btn-group">
                <a class="btn btn-white" th:href="@{/properties/add}">Създай нова обява</a>
            </div>
        </div>

    </main>
    <footer th:replace="~{fragments/footer.html::footer}"></footer>
    <!--    Initialize FontAwesome script for navbar  -->
    <script src="https://kit.fontawesome.com/89ea1f6c83.js" crossorigin="anonymous"></script>
    <!--    Initialize Dropdown script for navbar   -->
    <script th:src="@{/js/scriptDropdown.js}"></script>
</body>
</html>