<!DOCTYPE html>
<html lang="bg"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}" />
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <header th:replace="~{fragments/navbar.html::navbar(activeLink=${'login'})}"></header>
    <main>
        <div class="page-container">
            <div class="card flex-column">
                <h1 class="text-center" th:text="#{login.heading}">Вход</h1>
                <form class="flex-column" id="login_form"
                        th:action="@{/users/login}"
                        th:method="post">

                    <small th:if="${wrongUsernameOrPassword}" class="text-red"
                           th:text="#{login.error-message}">Грешен имейл или парола
                    </small>

                    <!-- Email address input-->
                    <div class="flex-row text-center">
                        <div class="flex-row w-100 gap-1">
                            <div class="login-left-column">
                                <label for="email" th:text="#{login.email} + ':'">Имейл</label>
                            </div>
                            <div class="login-right-column">
                                <input class="login-input" name="email" id="email" type="email" placeholder="name@example.com"/>
                            </div>
                        </div>
                    </div>

                    <!-- Password input-->
                    <div class="flex-row text-center">
                        <div class="flex-row w-100 gap-1">
                            <div class="login-left-column">
                                <label for="password" th:text="#{login.password} + ':'">Парола</label>
                            </div>
                            <div class="login-right-column">
                                <input class="login-input" name="password" id="password" type="password" autocomplete="off"/>
                            </div>
                        </div>
                    </div>

                    <!-- CSRF token -->
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                    <!-- Login Button-->
                    <div>
                        <button class="btn btn-blue" id="submitButton" type="submit"
                                th:text="#{login.button}">Вход</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments/footer.html::footer}"></footer>
</body>
</html>