<!DOCTYPE html>
<html lang="bg"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:if="${pageType.equals('sales')}">Sales</title>
    <title th:if="${pageType.equals('rents')}">Rents</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}" />
    <!-- CSS with versioning to avoid cache issues -->
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

    <!-- Preload critical resources -->
    <link rel="preload" as="image" th:href="@{/images/logo.png}" />
<!--    <link rel="preload" as="script" th:href="@{/js/scriptDropdown.js}" />-->
</head>
<body>
    <th:block th:if="${pageType.equals('sales')}">
        <header th:replace="~{fragments/navbar.html::navbar(activeLink=${'sales'})}"></header>
    </th:block>
    <th:block th:if="${pageType.equals('rents')}">
        <header th:replace="~{fragments/navbar.html::navbar(activeLink=${'rents'})}"></header>
    </th:block>

    <main>
        <h1 th:if="${pageType.equals('sales')}"
            th:text="#{property.page-header-sales}"
                class="white text-center page-title">Продажби
        </h1>
        <h1 th:if="${pageType.equals('rents')}"
            th:text="#{property.page-header-rents}"
            class="white text-center page-title">Наеми
        </h1>

<!--        Filter and Sort -->
        <div class="filter-sort-section">
            <div class="card">
                <details class="flex-column">
                    <summary th:text="#{property.filter}">Филтър</summary>
                    <form class="flex-column filter-section gap-1"
                          th:action="@{'/properties/' + ${pageType}}"
                          th:method="GET">
                        <div class="filter-items-container">
                            <!--                    Property Type-->
                            <div class="filter-item">
                                <label class="filter-left-column" th:text="#{property.property-type}"
                                       for="filter-propertyType"></label>

                                <select class="filter-right-column" id="filter-propertyType" name="propertyType">
                                    <option
                                            value=""
                                            th:text="#{property.all-placeholder}">
                                    </option>
                                    <option
                                            th:each="type : ${T(com.butikimoti.real_estate_planner.model.enums.PropertyType).values()}"
                                            th:value="${type}"
                                            th:text="#{${'propertyType.' + type.name()}}"
                                            th:selected="${type} == ${propertyTypeParam}">
                                    </option>
                                </select>
                            </div>

                            <!--                    City-->
                            <div class="filter-item">
                                <label class="filter-left-column" th:text="#{property.city}" for="filter-city"></label>
                                <input class="filter-right-column" id="filter-city" name="city"
                                       th:placeholder="#{property.city-placeholder}"
                                       th:value="${cityParam}"/>
                            </div>
                        </div>
                        <div class="filter-items-container">
                            <!--                            Neighbourhood-->
                            <div class="filter-item">
                                <label class="filter-left-column" th:text="#{property.neighbourhood}"
                                       for="filter-neighbourhood"></label>
                                <input class="filter-right-column" id="filter-neighbourhood" name="neighbourhood"
                                       th:placeholder="#{property.neighbourhood-placeholder}"
                                       th:value="${neighbourhoodParam}"/>
                            </div>

                            <!--                            Address-->
                            <div class="filter-item">
                                <label class="filter-left-column" th:text="#{property.address}" for="filter-address"></label>
                                <input class="filter-right-column" id="filter-address" name="address"
                                       th:placeholder="#{property.address-placeholder}"
                                       th:value="${addressParam}"/>
                            </div>
                        </div>
                        <div class="filter-items-container">
                            <!--                            Min Price-->
                            <div class="filter-item">
                                <label class="filter-left-column" th:text="#{property.min-price}"
                                       for="filter-min-price"></label>
                                <input class="filter-right-column" id="filter-min-price" name="minPrice" type="number" step="1" min="0"
                                       th:placeholder="#{property.min-price-placeholder}"
                                       th:value="${addressParam}"/>
                            </div>

                            <!--                            Max Price-->
                            <div class="filter-item">
                                <label class="filter-left-column" th:text="#{property.max-price}"
                                       for="filter-max-price"></label>
                                <input class="filter-right-column" id="filter-max-price" name="maxPrice" type="number" step="1" min="0"
                                       th:placeholder="#{property.max-price-placeholder}"
                                       th:value="${addressParam}"/>
                            </div>
                        </div>
                        <div class="flex-row w-100">
                            <button class="btn btn-blue center">Приложи</button>
                        </div>
                    </form>
                </details>
            </div>
        </div>

<!--        Offers-list -->
        <div class="offer-list-section w-70" id="offerListSection">
            <div th:each="property : ${properties.getContent()}">
                <div class="card">
                    <div class="offers-card-container">
                        <div class="image-section">
                            <a th:href="@{'/properties/' + ${property.id}}">
                                <img th:if="${!property.pictures.isEmpty()}"
                                     th:src="@{${property.pictures[0].getPictureLink()}}"
                                     alt="property image">
                                <img th:if="${property.getPictures().isEmpty()}" src="/images/sample_image.jpg" alt="sample_img">
                            </a>
                        </div>
                        <div class="content-section">
                            <div class="content-header">
                                <div class="flex-column">
                                    <div class="header">
                                        <a th:href="@{'/properties/' + ${property.id}}">
                                            <h2 th:if="${property.propertyType.name() == 'APARTMENT'}"
                                                th:text="#{'apartmentType.' + ${property.apartmentType.name()}}">тип
                                                апартамент</h2>
                                            <h2 th:if="${property.propertyType.name() == 'HOUSE'}"
                                                th:text="#{'houseType.' + ${property.houseType.name()}}">тип
                                                къща</h2>
                                            <h2 th:if="${property.propertyType.name() == 'BUSINESS'}"
                                                th:text="#{'businessPropertyType.' + ${property.businessPropertyType.name()}}">тип
                                                бизнес имот</h2>
                                            <h2 th:if="${property.propertyType.name() == 'GARAGE'}"
                                                th:text="#{'garageType.' + ${property.garageType.name()}}">тип
                                                гараж</h2>
                                            <h2 th:if="${property.propertyType.name() == 'LAND'}"
                                                th:text="#{'landType.' + ${property.landType.name()}}">тип
                                                парцел</h2>
                                        </a>
                                    </div>
                                    <p th:if="${property.neighbourhood.isEmpty() or property.neighbourhood.equalsIgnoreCase('')}" th:text="${property.city} + ', ' + ${property.address}">Русе, ул. Солун 26</p>
                                    <p th:if="${!property.neighbourhood.isEmpty() and !property.neighbourhood.equalsIgnoreCase('')}" th:text="${property.city} + ', ' + ${property.neighbourhood} + ', ' + ${property.address}">Русе, Възраждане, ул. Солун 26</p>
                                </div>
                                <div class="flex-column">
                                    <h3>
                                        <span th:text="#{property.price} + ': '">Цена: </span>
                                        <span th:text="'€ ' + ${#numbers.formatDecimal(property.price, 1, 'POINT', 0, 'COMMA')}">€70000</span>
                                    </h3>

                                    <p class="grayed-out"
                                       th:text="'(€ ' + ${#numbers.formatDecimal(property.price / property.area, 1, 'POINT', 0, 'COMMA')} + ' / ' + #{'areaUnit.' + ${property.areaUnit}} + ')'">(€1000 / кв
                                        .м)</p>
                                </div>
                            </div>
                            <div class="content-description">
                                <div class="content-row"
                                     th:if="${property.propertyType.name() == 'APARTMENT'
                                           or property.propertyType.name() == 'HOUSE'
                                           or property.propertyType.name() == 'BUSINESS'}">
                                    <div th:text="#{property.construction-type} + ': '">Тип:</div>
                                    <div class="bold"
                                         th:text="#{${'constructionType.' + property.constructionType.name()}}">тухла
                                    </div>
                                </div>
                                <div class="content-row">
                                    <div th:text="#{property.area} + ': '">Квадратура: </div>
                                    <div class="bold"
                                         th:text="${property.area} + ' ' + #{${'areaUnit.' + property.areaUnit.name()}}">70 кв
                                        .м</div>
                                </div>
                                <div class="content-row"
                                     th:if="${property.propertyType.name() == 'APARTMENT'
                                           or property.propertyType.name() == 'BUSINESS'}">
                                    <div th:text="#{property.floor} + ':'"></div>
                                    <div class="bold"
                                         th:text="${property.floor} + ' ' + #{property.floor-from} + ' ' + ${property.buildingFloors}"></div>
                                </div>
                                <div class="content-row"
                                     th:if="${property.propertyType.name() == 'HOUSE'}">
                                    <div th:text="#{property.floors-count} + ':'">Брой етажи: </div>
                                    <div class="bold"
                                         th:text="${property.floorsCount}"></div>
                                </div>
                                <div class="content-row"
                                     th:if="${property.propertyType.name() == 'HOUSE'}">
                                    <div th:text="#{property.yard-area} + ': '">Площ двор: </div>
                                    <div class="bold"
                                         th:text="${property.yardArea} + ' ' + #{${'areaUnit.' + property.yardAreaUnit.name()}}">70 кв
                                        .м</div>
                                </div>
                                <div class="content-row"
                                     th:if="${property.propertyType.name() == 'APARTMENT'
                                           or property.propertyType.name() == 'HOUSE'}">
                                    <div th:text="#{property.year} + ': '">Година: </div>
                                    <div class="bold"
                                         th:text="${property.year}">1972</div>
                                </div>
                            </div>
                            <div class="content-contact">
                                <div class="flex-row w-100 gap-1">
                                    <div th:text="#{property.contact-name} + ': '">Контакт: </div>
                                    <div class="bold" th:text="${property.contactName}">Иван Иванов</div>
                                </div>
                                <div class="flex-row w-100 gap-1">
                                    <div th:text="#{property.contact-phone} + ': '">Тел: </div>
                                    <div class="bold" th:text="${property.contactPhone}">0888 888 888</div>
                                </div>
                                <div class="flex-row w-100 gap-1">
                                    <div th:text="#{property.contact-email} + ': '">Имейл: </div>
                                    <div class="bold" th:text="${property.contactEmail}">ivan_ivanov@gmail.com</div>
                                </div>
                            </div>
                            <div class="content-footer">
                                <div class="content-footer-column">
                                    <div th:text="#{property.updatedOn} + ': '">Актуализиран на: </div>
                                    <div th:text="${#temporals.format(property.updatedOn, 'dd.MM.yyyy')}">10.05.2025</div>
                                </div>
                                <div class="content-footer-column">
                                    <div th:text="#{property.createdOn} + ': '">Създаден на: </div>
                                    <div th:text="${#temporals.format(property.createdOn, 'dd.MM.yyyy')}">05.05.2025</div>
                                </div>
                                <a class="link-blue" th:href="@{'/properties/' + ${property.id}}" th:text="#{property.more-details} + '...'">Повече информация...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page Select -->
        <div class="page-select-container">
            <div class="pagination">
                <!-- Go to first page -->
                <a th:if="${properties.number > 0}"
                   th:href="@{${'/properties/' + pageType}(page=0,
                          propertyType=${propertyTypeParam},
                          city=${cityParam},
                          neighbourhood=${neighbourhoodParam},
                          address=${addressParam},
                          minPrice=${minPriceParam},
                          maxPrice=${maxPriceParam})}">&laquo;</a>

                <!-- Previous page -->
                <a th:if="${properties.number > 0}"
                   th:href="@{${'/properties/' + pageType}(page=${properties.number - 1},
                          propertyType=${propertyTypeParam},
                          city=${cityParam},
                          neighbourhood=${neighbourhoodParam},
                          address=${addressParam},
                          minPrice=${minPriceParam},
                          maxPrice=${maxPriceParam})}"
                   th:text="${properties.number}"></a>

                <!-- Current page (highlighted) -->
                <span class="current-page" th:text="${properties.number + 1}"></span>

                <!-- Next page -->
                <a th:if="${properties.number < properties.totalPages - 1}"
                   th:href="@{${'/properties/' + pageType}(page=${properties.number + 1},
                          propertyType=${propertyTypeParam},
                          city=${cityParam},
                          neighbourhood=${neighbourhoodParam},
                          address=${addressParam},
                          minPrice=${minPriceParam},
                          maxPrice=${maxPriceParam})}"
                   th:text="${properties.number + 2}"></a>

                <!-- Go to last page -->
                <a th:if="${properties.number < properties.totalPages - 1}"
                   th:href="@{${'/properties/' + pageType}(page=${properties.totalPages - 1},
                          propertyType=${propertyTypeParam},
                          city=${cityParam},
                          neighbourhood=${neighbourhoodParam},
                          address=${addressParam},
                          minPrice=${minPriceParam},
                          maxPrice=${maxPriceParam})}">&raquo;</a>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments/footer.html::footer}"></footer>

    <!-- Initialize scriptFilter.js to remove unused query parameters from url -->
    <script th:src="@{/js/scriptFilter.js}"></script>
    <!--    Initialize FontAwesome script for navbar  -->
    <script src="https://kit.fontawesome.com/89ea1f6c83.js" crossorigin="anonymous"></script>
    <!--    Initialize Dropdown script for navbar   -->
<!--    <script th:src="@{/js/scriptDropdown.js}"></script>-->
</body>
</html>