<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title>Property Page</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />
    <!-- Core theme CSS -->
    <link href="/css/styles.css" rel="stylesheet" />
    <!-- Glide.js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
</head>
<body>
    <header th:replace="~{fragments/navbar.html}"></header>
    <main>
        <div class="wrapper center w-70">
            <div class="card gap-1 flex-column" th:object="${property}">
                <div class="page-heading flex-column text-center">
                    <div class="header">
                        <h2 th:if="${property.propertyType.name() == 'APARTMENT'}"
                            th:text="#{'apartmentType.' + ${property.apartmentType.name()}}">тип
                            апартамент</h2>
                        <h2 th:if="${property.propertyType.name() == 'HOUSE'}"
                            th:text="#{'houseType.' + ${property.houseType.name()}}">тип
                            къща</h2>
                        <h2 th:if="${property.propertyType.name() == 'BUSINESS'}"
                            th:text="#{'businessPropertyType.' + ${property.businessPropertyType.name()}}">тип
                            бизнес имот</h2>
                        <h2 th:if="${property.propertyType.name() == 'GARAGE'}"
                            th:text="#{'garageType.' + ${property.garageType.name()}}">тип
                            гараж</h2>
                        <h2 th:if="${property.propertyType.name() == 'LAND'}"
                            th:text="#{'landType.' + ${property.landType.name()}}">тип
                            парцел</h2>
                    </div>
                    <h3 th:text="${property.address}">Русе, Възраждане, ул. Солун 26</h3>
                </div>
                <div class="flex-column gap-1">
                    <div class="glide text-center">
                        <div class="glide__track relative text-center" data-glide-el="track">
                            <ul class="glide__slides">
                                <li th:each="picture : ${property.pictures}" class="glide__slide">
                                    <div class="image-container">
                                        <img th:src="@{${picture.getPictureLink()}}" alt="Property Image" />
                                        <form id="delete-picture-form"
                                              th:action="@{/properties/{id}/delete-picture/{pictureId}(id=${property.id}, pictureId=${picture.id})}"
                                              th:method="DELETE"
                                              th:attr="data-message=#{property.confirm-delete-picture-message}"
                                              onsubmit="return false;">
                                            <button id="delete-picture-button" class="btn-delete delete-button" type="button">
                                                X
                                            </button>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="absolute top-1/2 left-4 transform -translate-y-1/2 z-10" data-glide-el="controls">
                            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">‹</button>
                        </div>
                        <div class="absolute top-1/2 right-4 transform -translate-y-1/2 z-10" data-glide-el="controls">
                            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">›</button>
                        </div>
                        <div id="carousel-status">
                            1/12
                        </div>

                    </div>

                    <div class="text-center">
                        <details class="flex-column gap-1" sec:authorize="hasRole('ADMIN') or hasRole('COMPANY_ADMIN')">
                            <summary th:text="#{property.add-picture}">Добави снимка</summary>
                            <form th:action="@{/properties/{id}/upload-picture(id=${property.id})}"
                                  th:method="POST"
                                  enctype="multipart/form-data"
                                  class="flex-row gap-0-5 justify-content-center">
                                <label for="file-upload"
                                       class="custom-file-upload btn btn-blue font-size-0-9 font-weight-normal"
                                       th:text="#{property.button-choose-file} + '...'">Choose file</label>
                                <input id="file-upload" type="file" name="image" style="display:none" required />
                                <div class="textbox textbox-white-border" id="file-name"
                                     th:text="#{property.no-file-chosen}">
                                    No file chosen
                                </div>
                                <button class="btn btn-blue" type="submit" th:text="#{property.button-upload}">Upload
                                </button>
                            </form>
                        </details>
                    </div>
                </div>
                <div class="info-section flex-column gap-1">
                    <div class="main-info flex-column gap-0-5">
                        <h3 th:text="#{property.main-info-header}">Основна информация</h3>
                        <!-- Property offer type-->
                        <div class="flex-row gap-1">
                            <div class="w-30 white-space-nowrap" th:text="#{property.offer-type} + ':'">Тип оферта:</div>
                            <div class="w-60"
                                 th:text="#{'offerType.' + ${property.offerType.name()}}">наем</div>
                        </div>

                        <!-- Property city-->
                        <div class="flex-row gap-1">
                            <div class="w-30 white-space-nowrap" th:text="#{property.city} + ':'">Населено място:</div>
                            <div class="w-60" th:text="${property.city}">Русе</div>
                        </div>

                        <!-- Property neighbourhood-->
                        <div class="flex-row gap-1" th:if="${!property.neighbourhood.equals('') and property.neighbourhood != null}">
                            <div class="w-30 white-space-nowrap" th:text="#{property.neighbourhood} + ':'">Квартал:</div>
                            <div class="w-60" th:text="${property.neighbourhood}">Възраждане</div>
                        </div>

                        <!-- Property address-->
                        <div class="flex-row gap-1">
                            <div class="w-30 white-space-nowrap" th:text="#{property.address} + ':'">Адрес:</div>
                            <div class="w-60" th:text="${property.address}">Солун&nbsp;26</div>
                        </div>

                        <!-- Property price-->
                        <div class="flex-row gap-1">
                            <div class="w-30 white-space-nowrap" th:text="#{property.price} + ':'">Цена:</div>
                            <div class="w-60 flex-row gap-1">
                                <div th:text="'€ ' + ${#numbers.formatDecimal(property.price, 1, 'POINT', 0, 'COMMA')}">€ 70
                                    .000</div>
                                <div class="grayed-out"
                                     th:text="'(€ ' + ${#numbers.formatDecimal(property.price / property.area, 1, 'POINT', 0, 'COMMA')} + ' / ' + #{'areaUnit.' + ${property.areaUnit}} + ')'">
                                </div>
                            </div>

                        </div>

                        <!-- Property area-->
                        <div class="flex-row gap-1">
                            <div class="w-30 white-space-nowrap" th:text="#{property.area} + ':'">Площ:</div>
                            <div class="w-60"
                                 th:text="${property.area} + ' ' + #{'areaUnit.' + ${property.areaUnit}}">200 кв.м.</div>
                        </div>

                        <!-- Contact name-->
                        <div class="flex-row gap-1">
                            <div class="w-30 white-space-nowrap" th:text="#{property.contact-name} + ':'">Име на контакт:</div>
                            <div class="w-60"
                                 th:text="${property.contactName}">Георги Георгиев</div>
                        </div>

                        <!-- Contact phone-->
                        <div class="flex-row gap-1">
                            <div class="w-30 white-space-nowrap" th:text="#{property.contact-phone} + ':'">Телефон на контакт:</div>
                            <div class="60"
                                 th:text="${property.contactPhone}">+359 XXX XXX XXX</div>
                        </div>

                        <!-- Contact email-->
                        <div class="flex-row gap-1">
                            <div class="w-30 white-space-nowrap" th:text="#{property.contact-email} + ':'">Имейл на контакт:</div>
                            <div class="w-60"
                                 th:text="${property.contactEmail}">name@mail.com</div>
                        </div>

                        <!-- Property description-->
                        <div class="flex-row gap-1">
                            <div class="w-30 white-space-nowrap" th:text="#{property.description} + ':'">Описание:</div>
                            <div class="w-60 text-justified"
                                 th:text="${property.description}">Описание</div>
                        </div>
                    </div>

                    <div class="additional-info flex-column gap-0-5">
                        <h3 th:text="#{property.additional-info-header}">Допълнителна информация</h3>

                        <!-- Apartment type-->
                        <div class="flex-row gap-1" th:if="${property.propertyType.name().equals('APARTMENT')}">
                            <div class="w-30 white-space-nowrap" th:text="#{property.apartment-type} + ':'">Тип
                                апартамент:</div>
                            <div class="w-60"
                                 th:text="#{'apartmentType.' + ${property.apartmentType.name()}}">2-стаен
                                апартамент</div>
                        </div>

                        <!-- House type-->
                        <div class="flex-row gap-1" th:if="${property.propertyType.name().equals('HOUSE')}">
                            <div class="w-30 white-space-nowrap" th:text="#{property.house-type} + ':'">Тип
                                къща:</div>
                            <div class="w-60"
                                 th:text="#{'houseType.' + ${property.houseType.name()}}">къща</div>
                        </div>

                        <!-- Business property type-->
                        <div class="flex-row gap-1" th:if="${property.propertyType.name().equals('BUSINESS')}">
                            <div class="w-30 white-space-nowrap" th:text="#{property.business-property-type} + ':'">Тип
                                бизнес имот:</div>
                            <div class="w-60"
                                 th:text="#{'businessPropertyType.' + ${property.businessPropertyType.name()}}">офис
                            </div>
                        </div>

                        <!-- Garage type-->
                        <div class="flex-row gap-1" th:if="${property.propertyType.name().equals('GARAGE')}">
                            <div class="w-30 white-space-nowrap" th:text="#{property.garage-type} + ':'">Тип
                                гараж:</div>
                            <div class="w-60"
                                 th:text="#{'garageType.' + ${property.garageType.name()}}">гараж
                            </div>
                        </div>

                        <!-- Land type-->
                        <div class="flex-row gap-1" th:if="${property.propertyType.name().equals('LAND')}">
                            <div class="w-30 white-space-nowrap" th:text="#{property.land-type} + ':'">Тип
                                гараж:</div>
                            <div class="w-60"
                                 th:text="#{'landType.' + ${property.landType.name()}}">парцел
                            </div>
                        </div>

                        <!-- Construction type-->
                        <div class="flex-row gap-1" th:if="${property.propertyType.name().equals('APARTMENT')
                                                        or property.propertyType.name().equals('HOUSE')
                                                        or property.propertyType.name().equals('BUSINESS')}">
                            <div class="w-30 white-space-nowrap" th:text="#{property.construction-type} + ':'">Тип
                                строителство:</div>
                            <div class="w-60"
                                 th:text="#{'constructionType.' + ${property.constructionType.name()}}">тухла
                            </div>
                        </div>

                        <!-- Year -->
                        <div class="flex-row gap-1" th:if="${property.propertyType.name().equals('APARTMENT')
                                                        or property.propertyType.name().equals('HOUSE')}">
                            <div class="w-30 white-space-nowrap" th:text="#{property.year} + ':'">Година:</div>
                            <div class="w-60"
                                 th:text="${property.year}">2025
                            </div>
                        </div>

                        <!-- Room count -->
                        <div class="flex-row gap-1" th:if="${property.propertyType.name().equals('APARTMENT')
                                                        or property.propertyType.name().equals('HOUSE')}">
                            <div class="w-30 white-space-nowrap" th:text="#{property.room-count} + ':'">Брой стаи:</div>
                            <div class="w-60"
                                 th:text="${property.roomCount}">2
                            </div>
                        </div>

                        <!-- Floor -->
                        <div class="flex-row gap-1" th:if="${property.propertyType.name().equals('APARTMENT')
                                                        or property.propertyType.name().equals('BUSINESS')}">
                            <div class="w-30 white-space-nowrap" th:text="#{property.floor} + ':'">Етаж:</div>
                            <div class="w-60"
                                 th:text="${property.floor} + ' ' + #{property.floor-from} + ' ' + ${property.buildingFloors}">2 от 5
                            </div>
                        </div>

                        <!-- Heating type-->
                        <div class="flex-row gap-1" th:if="${property.propertyType.name().equals('APARTMENT')
                                                        or property.propertyType.name().equals('HOUSE')
                                                        or property.propertyType.name().equals('BUSINESS')}">
                            <div class="w-30 white-space-nowrap" th:text="#{property.heating-type} + ':'">Тип
                                отопление:</div>
                            <div class="w-60"
                                 th:text="#{'heatingType.' + ${property.heatingType.name()}}">газ
                            </div>
                        </div>

                        <!-- Has elevator -->
                        <div class="flex-row gap-1" th:if="${property.propertyType.name().equals('APARTMENT')
                                                        or property.propertyType.name().equals('BUSINESS')}">
                            <div class="w-30 white-space-nowrap" th:text="#{property.has-elevator} + ':'">Асансьор:
                            </div>
                            <div class="w-60" th:if="${property.hasElevator}"
                                 th:text="#{property.has-elevator-true}">да
                            </div>
                            <div class="w-60" th:if="${!property.hasElevator}"
                                 th:text="#{property.has-elevator-false}">не
                            </div>
                        </div>

                        <!-- Facing -->
                        <div class="flex-row gap-1" th:if="${property.propertyType.name().equals('APARTMENT')
                                                        or property.propertyType.name().equals('HOUSE')}">
                            <div class="w-30 white-space-nowrap" th:text="#{property.facing} + ':'">Изложение:</div>
                            <div class="w-60"
                                 th:text="${property.facing}">запад
                            </div>
                        </div>

                        <!-- Yard area-->
                        <div class="flex-row gap-1" th:if="${property.propertyType.name().equals('HOUSE')}">
                            <div class="w-30 white-space-nowrap" th:text="#{property.yard-area} + ':'">Площ двор:</div>
                            <div class="w-60"
                                 th:text="${property.yardArea} + ' ' + #{'areaUnit.' + ${property.yardAreaUnit}}">200
                                кв.м</div>
                        </div>

                        <!-- Floors count-->
                        <div class="flex-row gap-1" th:if="${property.propertyType.name().equals('HOUSE')}">
                            <div class="w-30 white-space-nowrap" th:text="#{property.floors-count} + ':'">Брой
                                етажи:</div>
                            <div class="w-60"
                                 th:text="${property.floorsCount}">3</div>
                        </div>

                        <!-- Additional structures -->
                        <div class="flex-row gap-1" th:if="${property.propertyType.name().equals('HOUSE')}">
                            <div class="w-30 white-space-nowrap" th:text="#{property.additional-structures} + ':'">
                                Допълнителни постройки:</div>
                            <div class="w-60"
                                 th:text="${property.additionalStructures}">3</div>
                        </div>
                    </div>

                    <div class="created-on-updated-on-section flex-column gap-0-5">
                        <div class="flex-row gap-1">
                            <div class="w-30">Създаден&nbsp;на:</div>
                            <div class="w-60">05.05.2025 г.</div>
                        </div>
                        <div class="flex-row gap-1">
                            <div class="w-30">Последна актуализация:</div>
                            <div class="w-60">10.05.2025 г.</div>
                        </div>
                    </div>

                </div>
                <div class="buttons-section flex-row" sec:authorize="hasRole('ADMIN') or hasRole('COMPANY_ADMIN')">
                    <div class="w-50 text-center">
                        <a th:href="@{/properties/edit/{id}(id=${property.id})}">
                            <button class="btn btn-green" th:text="#{property.button-change}">Промени</button>
                        </a>
                    </div>
                    <div class="w-50 text-center">
                        <form id="delete-property-form"
                              th:action="@{/properties/{id}(id=${property.id})}"
                              th:method="DELETE"
                              th:attr="data-message=#{property.confirm-delete-property-message}"
                              onsubmit="return false;">
                            <button class="btn btn-red delete-button" th:text="#{property.button-delete}">Изтрий</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal">
            <div class="modal-content">
                <p id="modal-message">Are you sure?</p>
                <div class="modal-buttons">
                    <button id="confirm-delete-button" class="btn btn-blue" th:text="#{property.confirm-yes}">Yes</button>
                    <button id="cancel-delete-button" class="btn btn-blue" th:text="#{property.confirm-no}">No</button>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments/footer.html::footer}"></footer>

    <!-- Initialize Glide after the DOM is ready -->
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>

    <script>
        window.i18nMessages = {
            deleteConfirmMessage: '[[#{property.confirm-delete-message}]]'
        }
    </script>

    <!-- Initialize scriptPropertyPage.js -->
    <script th:src="@{/js/scriptPropertyPage.js}"></script>
</body>
</html>