<!DOCTYPE html>
<html lang="bg"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Company</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />
    <!-- Core theme CSS -->
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
    <header th:replace="~{fragments/navbar.html::navbar(activeLink=${'register'})}"></header>
    <main>
        <div class="page-container">
            <div class="card flex-column">
                <h1 class="text-center" th:text="#{register-company.heading }">Регистрирай фирма</h1>
                <form class="flex-column gap-1" id="register_company_form"
                        th:action="@{/companies/register}"
                        th:method="post"
                        th:object="${companyData}">
                    <!-- Company name input-->
                    <div class="flex-column text-center">
                        <div class="login-row">
                            <div class="login-left-column">
                                <label for="name" th:text="#{register-company.name} + ':'">Company name</label>
                            </div>
                            <div class="login-right-column">
                                <input class="login-input" name="name" id="name" type="text"
                                       placeholder="Наименование на фирма" th:field="*{name}"/>
                            </div>
                        </div>
                        <small th:errors="*{name}" class="text-red">Company name invalid!</small>
                        <small th:if="${companyExists}" class="text-red" th:text="#{register-company.company-name-error}">Company with this name
                            already exists!</small>
                    </div>

                    <!-- Company address input-->
                    <div class="flex-column text-center">
                        <div class="login-row">
                            <div class="login-left-column">
                                <label for="address" th:text="#{register-company.address} + ':'">Company name</label>
                            </div>
                            <div class="login-right-column">
                                <input class="login-input" name="address" id="address" type="text"
                                       placeholder="Адрес на фирма" th:field="*{address}"/>
                            </div>
                        </div>
                        <small th:errors="*{address}" class="text-red">Company address invalid!</small>
                    </div>

                    <!-- Company phone input-->
                    <div class="flex-column text-center">
                        <div class="login-row">
                            <div class="login-left-column">
                                <label for="phone" th:text="#{register-company.phone} + ':'">Company name</label>
                            </div>
                            <div class="login-right-column">
                                <input class="login-input" name="phone" id="phone" type="text" placeholder="+359000000000"
                                       th:field="*{phone}"/>
                            </div>
                        </div>
                        <small th:errors="*{phone}" class="text-red">Company phone invalid!</small>
                    </div>

                    <!-- Company email input-->
                    <div class="flex-column text-center">
                        <div class="login-row">
                            <div class="login-left-column">
                                <label for="email" th:text="#{register-company.email} + ':'">Имейл</label>
                            </div>
                            <div class="login-right-column">
                                <input class="login-input" name="email" id="email" type="email" placeholder="name@example.com"
                                        th:field="*{email}"/>
                            </div>
                        </div>
                        <small th:errors="*{email}" class="text-red">Company email invalid!</small>
                    </div>

                    <!-- Register Button-->
                    <div class="center">
                        <button class="btn btn-blue" id="submitButton" type="submit"
                                th:text="#{register-company.button}">Регистрирай</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments/footer.html::footer}"></footer>
    <!--    Initialize FontAwesome script for navbar  -->
    <script src="https://kit.fontawesome.com/89ea1f6c83.js" crossorigin="anonymous"></script>
    <!--    Initialize Dropdown script for navbar   -->
    <script th:src="@{/js/scriptDropdown.js}"></script>
</body>
</html>